h1 {
    color: rgb(73, 217, 249);
    line-height: 48px;
    text-align: center;
}
h1 img {
    height: 48px;
    margin-right: 0.3em;
    vertical-align: middle;
}
h1 span {
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: white;
    padding: 0 1em 0 1em;
}
a.active {
    color: rgb(73, 217, 249);
    text-decoration: underline;
}
nav {
    margin-bottom: 2em;
}
